<h1>Relação de Categorias</h1>

<table>
  <tr>
    <th>Categoria</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @categories.each do |category| %>
  <tr>
    <td><%= category.name %></td>
    <td><%= link_to 'Exibir', category %></td>
    <td><%= link_to 'Editar', edit_category_path(category) %></td>
    <td><%= link_to 'Excluir', category, method: :delete, data: { confirm: 'Confirma a Exclusão?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nova Categoria', new_category_path %>
